@model StudentsCommunity.Models.Enrollment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="alert-danger">Are you sure you want to delete this Course? <i class="fa fa-warning"></i></h3>
<div>
    <h4 class="note">Course Information</h4>

    <table class="table table-striped table-bordered table-inverse" style="width:100%">
        <tbody>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Courses.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Courses.CourseName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Courses.CourseCode)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Courses.CourseCode)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Courses.GroupNum)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Courses.GroupNum)
                </td>
            </tr>

        </tbody>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
        </div>
    }
</div>
